@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.ani {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.baa {
    color: green;
}

.miss_val {
    min-height: 100vh;
}

h1 {
    font-size: 50px;
    color: green;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pa {
    font-size: 30px;
    display: block;
    justify-content: center;
}

h2 {
    font-size: 45px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    font-size: 25px;
}

.value_pa {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title_val {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_V {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
}

.miss_pa {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.about_t {
    color: green;
    font-size: 45px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}