.title {
    font-size: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    font-weight: 600;
    color: green;
    text-align: center;
}

.miss {
    text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: green;
}

.miss_pa {
    text-align: left;
    padding-left: 4rem;
    padding-right: 4rem;
    gap: 0.5rem;
    font-size: 20px;
    font-family: "Madimi One";
    font-weight: 200;
    font-style: normal;
}

.value {
    text-align: justify;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: green;
}

.value_con {
    text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
}

.value_li {
    text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.5rem;
}

.value_pa {
    text-align: left;
    gap: 0.5rem;
    font-family: "Madimi One";
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
}

.title_val {
    color: green;
}

.team_pa {
    text-align: left;
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 20px;
    font-family: "Madimi One";
    font-weight: 200;
    font-style: normal;
}
