footer {
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  position: relative;
}

.head_txt {
  color: #5DAA68;
}

.p_txt {
  font-family: "Aref Ruqaa Ink", serif;
  font-weight: 700;
  font-style: normal;
}