#home {
    margin-bottom: 9.5rem;
}

.body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}

.h_txt {
    animation: slideInLeft 2s ease-in 0s 1 normal none;
    padding-top: 6.5rem;
    font-size: 5rem;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(43, 43, 43, 0.865);
}

.h_txt2 {
    animation: slideInLeft 3s ease-out 0s 1 normal none;
    color: #5DAA68;
    font-size: 2.5rem;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.h_txt3{
    color: black;
    font-weight: 600;
    font-style: oblique;
    display: block;
}