:root {
  --body_background:white;
  --body_color: black;
  --link_color: #5DAA68;
  --link_c:blue;
}

[data-theme="dark"] {
  --body_background: #282c34;
  --body_color: white;
  --link_color: #5DAA68;
  --link_c:rgba(186, 15, 229, 0.884);
}

body {
  margin: 0;
  background-color: var(--body_background);
  color: var(--body_color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  text-align: center;
  background-color: var(--background_background);
  transition: all 0.3s ease-in-out;
}
